ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: rgb(12, 4, 3);
}
li{
    float:left;
    
}
li a{
    display: block;
    font-size: 15px;
    color: rgb(224, 230, 235);
    text-align: center;
    padding: 14px 98.5px;
    text-decoration: none;

}
li a:hover{ 
    background-color: rgb(192, 44, 17)
}
/* 
img {
    position:absolute;
    left: 0px;
    top: 0px;
   
    z-index: -1;
  } */
  body{
     background-image: url(/images1/feature_light.jpg);
  }
  div.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }